/* Commons */
* {
  box-sizing: border-box;
}

svg {
  max-width: 100%;
  height: auto;
}

svg .light {
  opacity: .3;
  animation: glare 4s ease-in-out infinite;
}

/* Site */
body {
  background-color: #553323;
  color: #EDC999;
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: baseline;
  background-color: #EDC999;
  color: #553323;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

header div, header a {
  display: inline-block;
  width: 5em;
  margin: .5em 1em;
}

header h1 {
  font-size: 2.8em;
  margin-left: 1em;
  position: relative;
  top: -.2em;
}

header h1 + div {
  text-align: right;
  flex-grow: 99;
}

main > section {
  padding-top: 8em;
  display: none;
}

main > section:target {
  display: block;
}

/* Sections */
#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#products > div {
  width: 20em;
  background-color: #EDC999;
  color: #553323;
  padding: 1rem;
  padding-bottom: 4em;
  margin: 14em 1rem 2rem;
  position: relative;
  border-radius: 3em 1rem 0;
}

#products > div .wrap-svg {
  position: absolute;
  top: -12em;
  right: 0;
  width: 14em;
}

#products > div button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  border-radius: 0 0 0 1rem;
  font-size: 1.4em;
  padding: .2em 1.2em;
}

#products > div h3 {
  font-size: 1.6em;
}

#products > div p {
  font-style: italic;
  font-size: 1.2em;
  margin: 0;
}

#products > div p::before, #products > div p::after {
  content: '"';
}

#cart table {
  width: 100%;
}

#cart table, #cart table thead, #cart table th, #cart table td, #cart table tr {
  border: 1px solid black;
}

#cart table thead {
  text-align: left;
}

#cart table td {
  max-width: 10em;
}

/* Animations */
@keyframes glare {
  0% {
    opacity: .3;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: .3;
  }
}
