$coffeeLight: #EDC999;
$coffeeDark: #553323;

$grey: #C3C7C9;
$greyDark: #AFB6BB;

$green: #36C63F;
$yellow: #FFD311;
$blue: #00ABD5;
$blueDark: #009DD3;

$white: rgba(255, 255, 255, 1);

// BeansBased colors
$light: rgb(236, 222, 170);
$dark: rgb(62, 48, 48);
$accentY: rgb(219, 187, 88);
$accentB: rgb(106, 139, 178);
$accentR: rgb(215, 70, 38);

@import url('https://fonts.googleapis.com/css?family=Bad+Script');

/* Commons */
* {
	box-sizing: border-box;
}

.hidden {
	display: none;
}

svg {
	max-width: 100%;
	height: auto;
	.light {
		opacity: .3;
		animation: glare 4s ease-in-out infinite;
	}
}

/* Site */
body {
	// background-color: $light;
	// color: $dark;
	font-family: sans-serif;
	margin: 0;
}

header {
	display: flex;
	align-items: baseline;
	background-color: $light;
	// color: $light;
	margin: 0;
	position: fixed;
	width: 100%;
	z-index: 99;
	div, a {
		display: inline-block;
		width: 5em;
		margin: .5em 1em;
	}
	h1 {
		font-size: 2.8em;
		margin-left: 1em;
		margin-bottom: 0;
		position: relative;
		top: -.2em;
		& + div {
			text-align: right;
			flex-grow: 99;
		}
	}
}

main {
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	position: relative;
	& > section {
		width: 100vw;
		padding-top: 8em;
		position: absolute;
		top: 0;
		left: 0;
		h1 {
			margin-left: .9rem;
		}
		&#cart {
			min-height: 100vh;
			background-color: white;
			left: 100vw;
			// display: none;
			&.hidden {
				display: block;
			}
			&:not(.hidden) {
				// display: block;
				// left: 0;
				// transition: 2s;
				left: 0;
			}
		}
	}
}

/* Sections */
#products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 2em 6em;
	& > div {
		width: 17em;
		background-color: $light;
		// color: $coffeeDark;
		padding: 1rem 1rem 0.6rem;
		// padding-bottom: 4em;
		margin: 16em 3rem 2rem;
		position: relative;
		border-radius: 3em 1rem 0;
		.wrap-svg {
			position: absolute;
			z-index: 20;
			// bottom: 8em;
			top: -12em;
			right: 0;
			width: 14em;
		}
		button {
			position: absolute;
			top: -1em;
			left: .8em;
			z-index: 50;
			background-color: $accentB;
			color: $white;
			font-family: monospace;
			border-radius: 100%;
			font-size: 4.5em;
			padding: 0 .27em;
			box-shadow: 0.06em 0.08em 0.1em rgba(0, 0, 0, 0.6);
			border: none;
			&:focus {
				outline: none;
				background-color: lighten($accentB, 3);
				box-shadow: 0.09em 0.12em 0.1em rgba(0, 0, 0, 0.6);
			}
			&:active {
				background-color: lighten($accentB, 6);
				box-shadow: 0.02em 0.034em 0.1em rgba(0, 0, 0, 0.6);
			}
		}
		h3 {
			font-size: 1.6em;
			margin-bottom: 0;
			& + p {
				margin-top: .2rem;
				font-style: italic;
				font-size: 1.2em;
				opacity: .35;
			}
		}
		p.description {
			font-family: 'Bad Script', cursive;
			text-align: center;
			// font-style: italic;
			font-size: 1.5em;
			font-weight: bold;
			margin: 0;
			opacity: .6;
			&::before, &::after {
				content: '"';
			}
		}
	}
}

#cart {
	position: relative;
	z-index: 80;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 6em;
	min-height: 14em;
	&.deleting {
		background-color: rgba(255, 0, 0, .7)
	}
	& > div {
		width: 70%;
		position: relative;
		div:first-of-type {
			position: absolute;
			left: 1em;
			top: 1em;
			button {
				font-size: 2em;
			}
		}
		div:not(:first-of-type) {
			display: flex;
			justify-content: center;
		}
		div:last-of-type {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 50%;
			display: flex;
			justify-content: space-between;
			button {
				margin: 2rem 0;
				font-size: 1.2em;
			}
			.amount {
				margin: 2rem 0;
				background-color: rgba(255, 255, 255, .8);
				padding: .6em .8em;
			}
		}
	}
	svg {
		padding-top: 2em;
	}
	aside {
		width: 30%;
		background-color: #EEE;
		padding-right: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		p {
			text-align: right;
			margin-top: 0;
		}
	}
}

#totals {
	width: 100%;
	min-width: 20em;
	display: flex;
	justify-content: flex-end;
	padding-right: 2rem;
	// background-color: #EEE;
	section:first-of-type {
		padding: 1em 3em 1em 2em;
		background-color: #eee;
	}
}

/* Animations */
@keyframes glare {
	0% { opacity: .3; }
	50% { opacity: .5; }
	100% { opacity: .3; }
}

@keyframes shake {
	0% {
		left: 0;
	}
	25% {
		
		left: -10px;
	}
	75% {	
		left: 10px;
	}
	100% {
		left: 0;
	}
}
.shake {
	position: relative;
	animation: shake .3s ease-in-out;
}

@keyframes succes {
	0% {
		background-color: $green;
	}
	100% {
		background-color: $accentB;
	}
}
.succes {
	animation: succes .3s ease-out;
}