$coffeeLight: #EDC999;
$coffeeDark: #553323;

$grey: #C3C7C9;
$greyDark: #AFB6BB;

$green: #36C63F;
$yellow: #FFD311;
$blue: #00ABD5;
$blueDark: #009DD3;

$white: rgba(255, 255, 255, 1);

* {
	box-sizing: border-box;
}

body {
	background-color: $coffeeDark;
	color: $coffeeLight;
	font-family: sans-serif;
}

#products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	& > div {
		width: 20em;
		background-color: $coffeeLight;
		color: $coffeeDark;
		padding: 1rem;
		padding-bottom: 4em;
		margin-bottom: 2rem;
		position: relative;
		margin-top: 14em;
		border-radius: 3em 1rem 0;
		.wrap-svg {
			position: absolute;
			top: -12em;
			right: 0;
			width: 14em;
		}
		button {
			position: absolute;
			right: 0;
			bottom: 0;
			display: block;
			width: 100%;
			border-radius: 0 0 0 1rem;
			font-size: 1.4em;
			padding: .2em 1.2em;
		}
		h3 {
			font-size: 1.6em;
		}
		p {
			font-style: italic;
			font-size: 1.2em;
			margin: 0;
			&::before, &::after {
				content: '"';
			}
		}
	}
}

svg {
	.light {
		opacity: .3;
		animation: glare 4s ease-in-out infinite;
	}
}

@keyframes glare {
	0% { opacity: .3; }
	50% { opacity: .5; }
	100% { opacity: .3; }
}

#cart {
	table {
		width: 100%;
		thead {
			text-align: left;
		}
		td {
			max-width: 10em;
		}
	}
}

svg {
	max-width: 100%;
	height: auto;
}

